body {
    background-color: #002A32;
    overflow: hidden;
}

::-webkit-scrollbar {
    background-color: #002A32;
}

/*fonts*/
@font-face {
    font-family: titleText;
    src: url(./Fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: pageText;
    src: url(./Fonts/Urbanist-Light.ttf);
}

/*header css*/
#header {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    height: 9%;
    width: 100%;
    background-color: #011114;
    color: whitesmoke;
    font-family: titleText;
    font-size: xx-large;
    text-align: center;
    user-select: none;
}

#pageTitle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-wrap: nowrap;
    user-select: none;
}

/*page content css*/
#contentBody {
    position: absolute;
    overflow-y: scroll;
    top: 9%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 86%;
    width: 50%;
    transition: top heigth 100ms ease-in-out;
    user-select: none;
}

.contentBodyTitle {
    position: relative;
    color: whitesmoke;
    font-size: 40px;
    font-family: titleText;
    user-select: none;
}

.contentBodyText {
    position: relative;
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 1px;
    user-select: none;
}

.contentBodyImage {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: auto;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    user-select: none;
    -webkit-user-drag: none;
}
.contentBodyVideo {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    height: auto;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    user-select: none;
}
.contentBodyEmbed {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    min-height: 30%;
    height: 50%;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    user-select: none;
}

.buttonLink {
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    background-color: #011114;
    border-radius: 30px;
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: whitesmoke;
}

/*sidebar css*/
#sidebarBody {
    position: absolute;
    top: 9%;
    right: 0%;
    transform: translate(100%, 0%);
    height: 86%;
    width: 25%;
    transition: transform 100ms ease-in-out;
    user-select: none;
}

#sidebarHandle {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    transform: translate(-99%, 0%);
    height: 100%;
    width: 10%;
    background-color: #004553;
    user-select: none;
}
#sidebarHandle:hover {
    background-color: #00333e;
}
#sidebarHandleIcon {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 70px;
    color: whitesmoke;
    user-select: none;
}

#sidebarContent {
    position: absolute;
    overflow: hidden;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: #004553;
    transition: all 100ms ease-in-out;
    user-select: none;
}

.sidebarNavBox {
    position: relative;
    top: 0%;
    left: 0%;
    height: 5%;
    width: 94%;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 4.5%;
    border-radius: 40px;
    color: whitesmoke;
    text-align: center;
    font-size: x-large;
    font-family: pageText;
    background-color: #002A32;
    user-select: none;
}
.sidebarNavBox:hover {
    background-color: #00333e;
}

/*footer css*/
#footer {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 5%;
    width: 100%;
    background-color: #011114;
    user-select: none;
}

/*mobile optimisations*/
@media (min-width: 320px) and (max-width:999px) {

    #contentBody {
        width: 100%;
    }
    .contentBodyTitle {
        padding-left: 5%;
        font-size: 30px;
    }
    .contentBodyText {
        padding-left: 5%;
        padding-right: 20%;
        font-size: 14px;
    }
    .contentBodyImage {
        width: 300px;
        padding-left: 5%;
        padding-right: 10%;
    }
    
    #sidebarBody {
        width: 75%;
    }
    #sidebarHandleIcon {
        font-size: 40px;
    }
}